#overlay {
	position: fixed;
	display: none;
	width: 60%;
	height: 93%;
	top: 0;
	left: 40%;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
	border: 1px solid #c1c1c1;
}
#overlay1 {
	position: fixed;
	display: none;
	width: 40%;
	height: 93%;
	top: 0;
	left: 0%;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
	border: 1px solid #c1c1c1;
}
#text {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
	color: white;
	/* transform: translate(-50%,-50%); */
	-ms-transform: translate(-50%,-50%);
	background: black;
	width: 100%;
	height: 100%;
}
#text1 {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
	color: white;
	/* transform: translate(-50%,-50%); */
	-ms-transform: translate(-50%,-50%);
	background: black;
	width: 100%;
	height: 100%;
}
#map { height: 180px;width:540px; }
.result span{
	font-size:100px;
}
.voyante p {
	background:white;
	color:black;
}
#video {
	  border: 1px solid black;
	    box-shadow: 2px 2px 3px black;
	      width: 320px;
	        height: 240px;
	}

	#photo {
		  border: 1px solid black;
		    box-shadow: 2px 2px 3px black;
		      width: 320px;
		        height: 240px;
		}

		#canvas {
			  display: none;
		  }

		  .camera {
			    width: 340px;
			      display: inline-block;
		      }

		      .output {
			        width: 340px;
				  display: inline-block;
				    vertical-align: top;
			    }

			    #startbutton {
				      display: block;
				        position: relative;
					  margin-left: auto;
					    margin-right: auto;
					      bottom: 32px;
					        background-color: rgba(0, 150, 0, 0.5);
						  border: 1px solid rgba(255, 255, 255, 0.7);
						    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
						      font-size: 14px;
						        font-family: "Lucida Grande", "Arial", sans-serif;
							  color: rgba(255, 255, 255, 1);
						  }

						  .contentarea {
							    font-size: 16px;
							      font-family: "Lucida Grande", "Arial", sans-serif;
							        width: 760px;
							}

